@media (max-width: 1180px) {
  /* body, */
  header {
    margin-inline: auto;
    padding: 32px;
  }
  .flxhead {
    gap: 64px;
  }
  main section {
    gap: 80px;
  }
  header {
    margin-block-end: 80px;
  }
  .headFoto {
    max-width: 704px;
  }
  .join {
    padding-block: 0px;
  }
  .card {
    gap: 40px;
    align-items: flex-start;
  }
  main img {
    max-width: 704px;
    /* min-height:653px; */
  }
  .odvrot {
    flex-direction: column-reverse;
  }
  p.not_your.inter-regul {
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.5px;
    color: #385159;
  }
  .logos-tech {
    bottom: 0;
    right: 0;
    transform: translateX(-50%) translateY(-20%);
  }
  .bezMob {
    display: none;
  }
  .membership {
    gap: 40px;
  }
  div.enter,
  div.st {
    max-width: 340px;
  }
  .pro {
    padding: 24px;
    width: 340px;
    height: 358px;
  }
  .cena button {
    width: 292px;
    height: 63px;
  }
  .This_books {
    margin-inline: auto;
    margin-block-end: 80px;
    padding-inline: 32px;
  }
  blockquote q {
    /* width: 704px; */
    /* height: 264px; */
    text-align: start;
  }
  .fivestar {
    margin-inline-start: 0;
  }
  .This_books cite {
    display: block;
    font-size: 20px;
    line-height: 140%;
    text-align: start;
    letter-spacing: -0.5px;
    color: #385159;
  }
  /* footer {
    padding-block-start: 64px;
  } */
  .footflex {
    padding-block-start: 64px;
  }
}
